.section{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  max-width: 1280px;
  height: 100vh;
  background-color: #f7f0ed;
gap: 50px;

  
}

.picture img{
width: 400px;
height: 400px;
margin: 20px;
box-shadow: 0 0 10px white;
border-radius: 10px;
}
.about-content{
color: black;
  font-size: 16px;

}
.about-content h1 h2{
  font-weight: 500;
}
.about-content span{
  color: gold;
}