.section-gus {
  background-color:#f7f0ed;
  padding: 30px 20px;
  color: rgb(12, 12, 12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewsSection h2 {
  font-size: 1.4rem;
  margin: 10px;
}

.reviewsSection p {
  font-size: 0.85rem;
  opacity: 0.8;
  margin-bottom: 20px;
}

.reviews-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}

.review-Card {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  background: #a7c8a5;
  padding: 12px;
  border-radius: 18px;
  max-width: 240px;
  align-items: center;
}

.review-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.review-box p {
  margin: 0;
  font-size: 0.75rem;
}

.rating {
  font-size: 0.8rem;
  font-weight: bold;
  display: block;
  margin-top: 6px;
}
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
}