.section-gus {
  background-color:#f7f0ed;
  padding: 30px 20px;
  color: rgb(12, 12, 12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-gus h2 {
  font-size: 1.4rem;
  margin: 10px;
}

.section-gus p {
  font-size: 0.85rem;
  opacity: 0.8;
  margin-bottom: 20px;
}

.reviews-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}

.review-card {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  background:#dad8d2;
  padding: 12px;
  border-radius: 18px;
  max-width: 240px;
  align-items: center;
}

.review-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.review-box p {
  margin: 0;
  font-size: 0.75rem;
}

.rating {
  font-size: 0.8rem;
  font-weight: bold;
  display: block;
  margin-top: 6px;
}
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
}

@media (max-width: 639px) {
  .reviews-container {
    flex-direction: column;
    align-items: center;
  }

  .review-card {
    max-width: 90%;
  }

  .review-card img {
    width: 80px;
    height: 80px;
  }

  .review-box p {
    font-size: 0.85rem;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .reviews-container {
    flex-wrap: wrap;
  }

  .review-card {
    max-width: 260px;
  }
}