.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #f7f0ed;
  color: black;
  margin-top: 50px;
}
.contact-continer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.contact-card {
  border: 1px solid gray;
  padding: 25px;
  height: 35vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px #7e7551;
  font-size: 20px;
  gap: 10px;
}
.contact-card span {
  color: #7e7551;
  font-weight: 700;
  margin-bottom: 5px;
}
.contact-card p {
  text-align: center;
  line-height: 35px;
}
.img-contact {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.img-contact img {
  width: 400px;
  height: 400px;
}
.img-txt form {
  width: 500px;
  margin-top: 30px;
}
.img-txt textarea {
  height: 120px;
}

.img-txt span {
  color: red;
}
.img-txt button {
  background-color: #7e7551;
  width: 100px;
}
.img-txt button:hover{
  background-color:#3F4975 ;
}
@media (max-width: 639px) {
  .contact-continer {
    flex-direction: column;
    gap: 20px;
  }

  .contact-card {
    width: 90%;
    height: auto;
    font-size: 16px;
    padding: 20px;
  }

  .img-contact {
    flex-direction: column;
    gap: 20px;
  }

  .img-txt form {
    width: 100%;
    max-width: 100%;
  }

  .img-contact img {
    width: 100%;
    max-width: 320px;
    height: auto;
  }

  .img-txt button {
    width: 100%;
    padding: 10px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .contact-continer {
    gap: 20px;
  }

  .contact-card {
    font-size: 18px;
    height: auto;
  }

  .img-contact img {
    width: 320px;
    height: auto;
  }

  .img-txt form {
    width: 420px;
  }
}
